html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
  color: #293c4b;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

h1 {
  font-size: 30px;
}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.profile {
  margin-top: 20px;
  margin-right: 20px;
}

.profile-name {
  line-height: 40px;
  margin-right: 10px;
  vertical-align: super;
}

.profile-pic {
  height: 25px;
  border-radius: 50%;
  border: 1px solid #2b93e6;
}

#strava_outlined {
  width: 150px;
}

.container {
  display: grid;
}

.logIn {
  margin: 250px 0;
}

.logInButton {
  margin: 0 auto;
  display: block;
  text-indent: -9999px;
  width: 185px;
  height: 40px;
  background: url('../public/btn_strava_connectwith_orange.svg');
  background-size: 185px 40px;
}

.cls-1 {
  fill: #fc4c02;
}

.cls-2 {
  fill: #999;
}

.box {
  background-color: #fbf7f4;
  text-align: left;
}

.activity {
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #fbf7f4;
}

.activity:hover {
  background-color: #fbf7f4;
  border: 1px solid #2b93e6;
  cursor: pointer;
}

.active {
  font-style: oblique;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
}

.small-header {
  padding: 12px;
  margin: 0;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.field {
  margin: 5px 5px 0 5px;
}

.field-header {
  font-size: 12px;
  border-bottom: solid 1px;
  color: grey;
  width: fit-content;
}

@media (max-width: 899px) {
  .activities {
    width: 70%;
    margin: 0 auto;
  }

  .main-content {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .activities {
    width: 20%;
    margin-left: 5%;
  }

  .main-content {
    max-width: 70%;
  }
}
